{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href={% static "css/notes/notes.css" %}>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <title>APR_BASE</title>
</head>
<body>
    <header>
        <div class="logo"><a class="logo" href="{% url 'top' %}"><img src={% static "images/base/logo.png" %} alt="ロゴ"></a></div>

        <form method="get" action="#" class="search_container">
            <input type="text" size="25" placeholder="キーワード検索">
            <input type="submit" value="&#xf002">
        </form>
        
    </header>

    <div class="contents">
        <aside>
            <div class="row1">
                <button type="button" class="btn btn-outline-light"><a p class="back" href="{% url 'top' %}"><p>Projects</p></a></button>
                <button type="button" class="btn btn-outline-light"><a class="task" href="{% url 'studytracker:project_detail' project.project_id %}"><p>Task</p></a></button>
                <button type="button" class="btn btn-outline-light"><a class="note" href="{% url 'studytracker:notes_list' project_id=project.project_id %}"><p>Notes</p></a></button>
                <button type="button" class="btn btn-outline-light"><a class="Setting" href="{% url 'studytracker:settings' %}"><p>Setting</p></a></button>
            </div>
            <div class="row2">
                <button type="button" class="btn btn-outline-light"><a href="{% url 'logout' %}"><p>ログアウト</p></a></button>
            </div>
        </aside>   
            
        <article>
            <h1>article</h1>
            <ul class="line">
                <div class="new_note">
                    <a href="{% url 'studytracker:create_note' project_id=project.project_id %}"><p>新規作成</p></a>
                </div>
            <ul class="detail_line"> 
                {% for note in notes %}
                <li class="notes_list">
                    <button type="button" class="btn btn-outline-info"><a href="{% url 'studytracker:note_detail' project_id=project.project_id note_id=note.note_id %}">{{ note.title }}</a></button>
                </li>
                {% endfor %}
            </ul>
        </article>

        <main>
            <h1>[ノート詳細]</h1>

            <div class="card">
                <div class="card-header">
                    <h3>Title: {{ note.title }}</h3>
                </div>
                
                <div class="card-body">
                    <p>Description: {{ note.description }}</p>
                </div>
            </div>
            
            <div class="options">
                <a href="{% url 'studytracker:edit_note' project_id=project.project_id note_id=note.note_id %}"><p>編集</p></a>
                <form method="post">
                    {% csrf_token %}
                    <button type="submit" name="delete_note">削除</button>
                </form>
            </div>
        </main>
    </div>
    
</body>
</html>